body {
  margin: 0px;
  min-width: 390px;
}

.background {
  position: absolute;
  background-image:
    linear-gradient(to bottom, 
      rgba(0, 0, 0, 0), 
      rgba(0, 0, 0, 0.1), 
      rgba(0, 0, 0, 0.25), 
      rgba(0, 0, 0, 0.40)
    ),
    url('@assets/background.jpg');
  background-size: cover;
  background-position: center 30px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.all-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-panel {
  width: 60%;
  min-width: 380px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, max(-100%, -15rem));
}

.number-input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #c4c4c4;
  padding: 7px 12px;
  padding-right: 2px;
  border-radius: 4px;
  width: 100%;
}

.number-input > div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}